/* color para el background */
/* color para los botones y elementos resaltados */
/* cantidad de bloques del grid */
.padding0 {
  padding: 0em 0em; }

.padding1 {
  padding: 1em 1em; }

.padding2 {
  padding: 2em 2em; }

.padding3 {
  padding: 3em 3em; }

html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

body {
  /*Se define Color de la letra, fondo y tipografia para el body */
  color: #060236;
  background-color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  margin: 2.5em 0.5em;
  padding: 2em 0.5em; }

.navListaHorizontal {
  /* Comienzo del estilo del menu de navegacion */
  background-color: darkslateblue;
  display: inline-block;
  /*Hace que la lista se visualice horizontal*/
  padding: 5px;
  margin: 5px 15px;
  width: 150px;
  text-align: center;
  position: relative; }

/* Fin del estilo del menu de navegacion */
.menuNav {
  /* Bloque Nav */
  list-style-type: none;
  padding: 0px 0px 0px 0px; }

.menuNav__btn {
  background-color: whitesmoke;
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em;
  border-radius: 0.5em; }

td {
  padding-left: 20px;
  padding-right: 20px;
  border: whitesmoke;
  border-style: solid; }

.imgDerecha {
  right: 1%; }

ul ul {
  position: absolute;
  display: none; }
  ul ul li {
    z-index: 10000000000000;
    background-color: dimgray;
    display: block;
    padding: 5px 5px; }

.tipoContacto {
  background-color: rgba(35, 35, 82, 0.632);
  padding: 1em 2em;
  margin: 0.5em 0.5em; }

.formulario {
  /* Bloque Formulario */
  padding: 1em 1em; }
  .formulario .formulario__campoTexto {
    width: 15em; }
    .formulario .formulario__campoTexto .formulario__campoTexto--transformacion {
      transition: all 1s; }

.containerMobile {
  /* Estilo por defecto para visualizacion en Mobile */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "boxHeader"   "box1" "box2" "box3" "box4" "boxFooter";
  /* Definicion de Grid del Header */
  /* Grid para Servicios */
  /* Grid para seccion Contacto */
  /* Grid para seccion Galeria */ }
  .containerMobile .boxHeader {
    /* Bloque */
    grid-area: boxHeader;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "boxLogo boxMenu" "boxNav boxNav"; }
    .containerMobile .boxHeader .boxHeader--fondo {
      background-color: darkslateblue; }
    .containerMobile .boxHeader .boxHeader__boxLogo {
      /* Contenedor para el logo */
      grid-area: boxLogo;
      justify-self: start;
      padding: 1em 1em; }
    .containerMobile .boxHeader .boxHeader__boxNav {
      /* Contenedor para el Nav */
      grid-area: boxNav;
      width: 100%; }
    .containerMobile .boxHeader .boxHeader__boxNav--fondo {
      background-image: linear-gradient(to bottom, darkslateblue, #e7e7e7); }
  .containerMobile .boxDestacados {
    /* Contenedor para seccion Destacados */
    grid-area: box1;
    grid-template-rows: auto auto;
    grid-template-areas: "boxTitulo" "boxItems"; }
    .containerMobile .boxDestacados .boxDestacados__titulo {
      grid-area: boxTitulo; }
    .containerMobile .boxDestacados .boxDestacados__contenido {
      grid-area: boxItems; }
  .containerMobile .BoxGenerica1x1 {
    /* Contenedor generico para contenido simple (1x1) */
    grid-area: box1; }
  .containerMobile .boxServicios {
    /* Bloque */
    grid-area: box2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat 7, auto;
    grid-template-areas: "boxTitulo" "boxItemServicio1" "boxItemServicio2" "boxItemServicio3" "boxItemServicio4" "boxItemServicio5" "boxItemServicio6"; }
    .containerMobile .boxServicios .boxServicios__boxItem1 {
      /* Contenedor para Item de Servicio */
      grid-area: boxItemServicio1;
      padding: 1em 2em; }
    .containerMobile .boxServicios .boxServicios__boxItem2 {
      /* Contenedor para Item de Servicio */
      grid-area: boxItemServicio2;
      padding: 1em 2em; }
    .containerMobile .boxServicios .boxServicios__boxItem3 {
      /* Contenedor para Item de Servicio */
      grid-area: boxItemServicio3;
      padding: 1em 2em; }
    .containerMobile .boxServicios .boxServicios__boxItem4 {
      /* Contenedor para Item de Servicio */
      grid-area: boxItemServicio4;
      padding: 1em 2em; }
    .containerMobile .boxServicios .boxServicios__boxItem5 {
      /* Contenedor para Item de Servicio */
      grid-area: boxItemServicio5;
      padding: 1em 2em; }
    .containerMobile .boxServicios .boxServicios__boxItem6 {
      /* Contenedor para Item de Servicio */
      grid-area: boxItemServicio6;
      padding: 1em 2em; }
  .containerMobile .boxContacto {
    /* Bloque */
    grid-area: box3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "boxTitulo ." "itemContacto1 itemContacto2" "itemContacto3 itemContacto4"; }
    .containerMobile .boxContacto .boxContacto__itemContacto1Img {
      /* Contenedor para Consulta */
      grid-area: itemContacto1;
      padding: 1em 1em; }
    .containerMobile .boxContacto .boxContacto__itemContacto1Texto {
      /* Contenedor para texto de Consulta (solo se visualiza en version escritorio) */
      display: none; }
    .containerMobile .boxContacto .boxContacto__itemContacto2Img {
      /* Contenedor para Consulta */
      grid-area: itemContacto2;
      padding: 1em 1em; }
    .containerMobile .boxContacto .boxContacto__itemContacto2Texto {
      /* Contenedor para texto de Consulta (solo se visualiza en version escritorio) */
      display: none; }
    .containerMobile .boxContacto .boxContacto__itemContacto3Img {
      /* Contenedor para Consulta */
      grid-area: itemContacto3;
      padding: 1em 1em; }
    .containerMobile .boxContacto .boxContacto__itemContacto3Texto {
      /* Contenedor para texto de Consulta (solo se visualiza en version escritorio) */
      display: none; }
    .containerMobile .boxContacto .boxContacto__itemContacto4Img {
      /* Contenedor para Consulta */
      grid-area: itemContacto4;
      padding: 1em 1em; }
    .containerMobile .boxContacto .boxContacto__itemContacto4Texto {
      /* Contenedor para texto de Consulta (solo se visualiza en version escritorio) */
      display: none; }
  .containerMobile .boxUbicacion {
    grid-area: box4; }
  .containerMobile .boxGaleria {
    /* Bloque */
    grid-area: box1;
    display: grid;
    grid-template-columns: 97%;
    grid-template-rows: repeat 7, auto;
    grid-template-areas: "boxTitulo" "boxItemGaleria1" "boxItemGaleria2" "boxItemGaleria3" "boxItemGaleria4" "boxItemGaleria5" "boxItemGaleria6"; }
    .containerMobile .boxGaleria .boxGaleria__item1 {
      grid-area: boxItemGaleria1;
      padding: 0.3em 0.3em; }
    .containerMobile .boxGaleria .boxGaleria__item2 {
      grid-area: boxItemGaleria2;
      padding: 0.3em 0.3em; }
    .containerMobile .boxGaleria .boxGaleria__item3 {
      grid-area: boxItemGaleria3;
      padding: 0.3em 0.3em; }
    .containerMobile .boxGaleria .boxGaleria__item4 {
      grid-area: boxItemGaleria4;
      padding: 0.3em 0.3em; }
    .containerMobile .boxGaleria .boxGaleria__item5 {
      grid-area: boxItemGaleria5;
      padding: 0.3em 0.3em; }
  .containerMobile .boxFooter {
    /* Bloque */
    grid-area: boxFooter;
    color: whitesmoke;
    margin-top: 10em; }
  .containerMobile .boxFooter--fondo {
    background-color: darkslateblue; }

.seccionServiciosFlexBox {
  display: flex;
  flex-direction: column; }

.serviciosFlexBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.itemServicios {
  background-color: rgba(35, 35, 82, 0.632);
  padding: 10px 20px; }

.contactoFlexBox {
  display: flex;
  flex-direction: column; }

.boxTitulo {
  /* Contenedor generico para titulos */
  grid-area: boxTitulo; }

@media only screen and (min-width: 768px) {
  /* Estilo para Ipad con pantalla vertical */
  .containerMobile {
    grid-template-columns: 1fr 1fr; }
    .containerMobile .boxHeader {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      grid-template-columns: 1fr 2fr; }
      .containerMobile .boxHeader .boxHeader__boxLogo {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: start;
        align-self: start; }
      .containerMobile .boxHeader .boxHeader__menu {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        align-self: start; }
      .containerMobile .boxHeader .boxHeader__boxNav {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
    .containerMobile .boxDestacados {
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
    .containerMobile .BoxGenerica1x1 {
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
    .containerMobile .boxServicios {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      grid-template-columns: 1fr 1fr; }
      .containerMobile .boxServicios .boxServicios__titulo {
        grid-row: 1 / 2;
        grid-column: 1 / 3; }
      .containerMobile .boxServicios .boxServicios__boxItem1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      .containerMobile .boxServicios .boxServicios__boxItem2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3; }
      .containerMobile .boxServicios .boxServicios__boxItem3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2; }
      .containerMobile .boxServicios .boxServicios__boxItem4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3; }
      .containerMobile .boxServicios .boxServicios__boxItem5 {
        grid-row: 4 / 5;
        grid-column: 1 / 2; }
      .containerMobile .boxServicios .boxServicios__boxItem6 {
        grid-row: 4 / 5;
        grid-column: 2 / 3; }
    .containerMobile .boxGaleria {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      grid-template-columns: 1fr 1fr; }
      .containerMobile .boxGaleria .boxGaleria__titulo {
        grid-row: 1 / 2;
        grid-column: 1 / 3; }
      .containerMobile .boxGaleria .boxGaleria__item1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      .containerMobile .boxGaleria .boxGaleria__item2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3; }
      .containerMobile .boxGaleria .boxGaleria__item3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2; }
      .containerMobile .boxGaleria .boxGaleria__item4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3; }
      .containerMobile .boxGaleria .boxGaleria__item5 {
        grid-row: 4 / 5;
        grid-column: 1 / 2; }
      .containerMobile .boxGaleria .boxGaleria__item6 {
        grid-row: 4 / 5;
        grid-column: 2 / 3; }
    .containerMobile .boxContacto {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      align-content: center; }
    .containerMobile .boxUbicacion {
      grid-row: 5 / 6;
      grid-column: 1 / 3; }
    .containerMobile .boxFooter {
      grid-row: 6 / 7;
      grid-column: 1 / 3; } }

@media only screen and (min-width: 1024px) {
  /* Estilo para Pc de escritorio con pantalla horizontal */
  .boxHeader--fondo {
    background-image: linear-gradient(to bottom, darkslateblue, #e7e7e7); }
  .menuNav__btn {
    /* Comienzo del estilo del menu de navegacion */
    display: inline-block;
    /*Hace que la lista se visualice horizontal*/
    margin: 0.5em 0.5em;
    width: 150px;
    text-align: center;
    /*position: relative;*/
    background-color: whitesmoke;
    padding: 0.5em 0.5em; }
  /* Fin del estilo del menu de navegacion */
  .containerMobile {
    grid-template-columns: 1fr 1fr; }
    .containerMobile .boxHeader {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      grid-template-columns: 1fr 8fr; }
      .containerMobile .boxHeader .boxHeader__boxLogo {
        grid-row: 1 / 2;
        grid-column: 1 / 2; }
      .containerMobile .boxHeader .boxHeader__menu {
        display: none; }
      .containerMobile .boxHeader .boxHeader__boxNav {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center; }
    .containerMobile .boxDestacados {
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
    .containerMobile .BoxGenerica1x1 {
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
    .containerMobile .boxServicios {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      grid-template-columns: 1fr 1fr 1fr; }
      .containerMobile .boxServicios .boxServicios__titulo {
        grid-row: 1 / 2;
        grid-column: 1 / 4; }
      .containerMobile .boxServicios .boxServicios__boxItem1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      .containerMobile .boxServicios .boxServicios__boxItem2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3; }
      .containerMobile .boxServicios .boxServicios__boxItem3 {
        grid-row: 2 / 3;
        grid-column: 3 / 4; }
      .containerMobile .boxServicios .boxServicios__boxItem4 {
        grid-row: 3 / 4;
        grid-column: 1 / 2; }
      .containerMobile .boxServicios .boxServicios__boxItem5 {
        grid-row: 3 / 4;
        grid-column: 2 / 3; }
      .containerMobile .boxServicios .boxServicios__boxItem6 {
        grid-row: 3 / 4;
        grid-column: 3 / 4; }
    .containerMobile .boxGaleria {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      grid-template-columns: 1fr 1fr 1fr; }
      .containerMobile .boxGaleria .boxGaleria__titulo {
        grid-row: 1 / 2;
        grid-column: 1 / 4; }
      .containerMobile .boxGaleria .boxGaleria__item1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      .containerMobile .boxGaleria .boxGaleria__item2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3; }
      .containerMobile .boxGaleria .boxGaleria__item3 {
        grid-row: 2 / 3;
        grid-column: 3 / 4; }
      .containerMobile .boxGaleria .boxGaleria__item4 {
        grid-row: 3 / 4;
        grid-column: 1 / 2; }
      .containerMobile .boxGaleria .boxGaleria__item5 {
        grid-row: 3 / 4;
        grid-column: 2 / 3; }
      .containerMobile .boxGaleria .boxGaleria__item6 {
        grid-row: 3 / 4;
        grid-column: 3 / 4; }
    .containerMobile .boxContacto {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      align-content: center;
      grid-template-columns: 1fr 1fr 1fr 1fr 20fr; }
      .containerMobile .boxContacto .boxContacto__titulo {
        grid-row: 1 / 2;
        grid-column: 1 / 5; }
      .containerMobile .boxContacto .boxContacto__itemContacto1Img {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding: 0em 1em;
        margin: 0.3em 0em; }
      .containerMobile .boxContacto .boxContacto__itemContacto1Texto {
        display: block;
        grid-row: 2 / 3;
        grid-column: 2 /6;
        margin: 0.3em 0em; }
      .containerMobile .boxContacto .boxContacto__itemContacto2Img {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        padding: 0em 1em;
        margin: 0.3em 0em; }
      .containerMobile .boxContacto .boxContacto__itemContacto2Texto {
        display: block;
        grid-row: 3 / 4;
        grid-column: 2 /6;
        margin: 0.3em 0em; }
      .containerMobile .boxContacto .boxContacto__itemContacto3Img {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        padding: 0em 1em;
        margin: 0.3em 0em; }
      .containerMobile .boxContacto .boxContacto__itemContacto3Texto {
        display: block;
        grid-row: 4 / 5;
        grid-column: 2 /6;
        margin: 0.3em 0em; }
      .containerMobile .boxContacto .boxContacto__itemContacto4Img {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        padding: 0em 1em;
        margin: 0.3em 0em; }
      .containerMobile .boxContacto .boxContacto__itemContacto4Texto {
        display: block;
        grid-row: 5 / 6;
        grid-column: 2 /6;
        margin: 0.3em 0em; }
    .containerMobile .boxUbicacion {
      grid-row: 5 / 6;
      grid-column: 1 / 3; }
    .containerMobile .boxFooter {
      grid-row: 6 / 7;
      grid-column: 1 / 3; } }

.letraItalica {
  font-style: italic; }

.letraNormal {
  font-style: normal;
  font-weight: 400;
  font-size: 1em; }

.letraNegrita {
  font-weight: 700; }

.letraGrande {
  font-size: 1.25em; }

.boxFooter--letraS {
  font-size: 0.75em; }

.fuenteMontserrat {
  font-family: 'Montserrat', sans-serif; }

.fuenteRaleway {
  font-family: 'Raleway', sans-serif; }

.textoCentrado {
  text-align: center; }

.textoDerecha {
  text-align: right; }

.textoIzquierda {
  text-align: left; }

nav ul li a {
  text-decoration: none;
  /* Para que los links no se visualicen subrayados */
  color: midnightblue;
  /* Link color Azul en nav */ }

a {
  /* Comienzo de estilo para los links */
  text-decoration: none;
  /* Para que los links no se visualicen subrayados */
  color: white;
  /* Link color blanco */ }

.letraOscura {
  color: #060236; }

.menuNav__btn--textoCentrado {
  text-align: center; }

.resaltarItem:hover {
  /* Cambio color de fondo cuando se pasa por encima */
  color: whitesmoke;
  background-color: #232352; }

.menuNav__btn:hover {
  /* Cambia color del boton del nav cuando se pasar por encima */
  background-color: cornflowerblue; }

.agrandarTexto:hover {
  /* Efecto para agrandar texto */
  transition: 2s;
  font-size: 1.1rem; }

.inputTranf {
  width: 15em;
  transition: all 1s; }

.inputTranf:focus {
  /* Efecto para agrandar los campos de ingreso de valores de los formularios */
  width: 15em;
  font-size: 1.1em; }

.efectoAgrandar:hover {
  /* Efecto para agrandar contenidos */
  transition: 2s;
  transform: scale(1.1, 1.1); }

ul li:hover ul {
  display: block; }
