.letraItalica{
    font-style: italic;
}
.letraNormal{
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
}
.letraNegrita{
    font-weight: 700;
}
.letraGrande{
    font-size: 1.25em;
}
.boxFooter--letraS{
    font-size: 0.75em;
}
.fuenteMontserrat{
    font-family: 'Montserrat', sans-serif;
}
.fuenteRaleway{
    font-family: 'Raleway', sans-serif;
}
.textoCentrado{
    text-align: center;
}
.textoDerecha{
    text-align: right;
}
.textoIzquierda{
    text-align: left;
}
nav ul li a{
    text-decoration: none; /* Para que los links no se visualicen subrayados */
    color:$colorFondoOscuro; /* Color del Link en el nav */
}
a{ /* Comienzo de estilo para los links */
    text-decoration: none; /* Para que los links no se visualicen subrayados */
    color:white; /* Link color blanco */
}
.letraOscura{
    color: $negro;
}
.colorLetra{
    color: $colorLetra;
}
.menuNav__btn--textoCentrado{
    margin:0.5rem;
    text-align: center;
}

.menuNav__btn--colorTexto{
    color: $colorFondoOscuro;
}
.menuNav__btn--paginaActual{
    background-color: $colorFondoOscuro;
    color: $blanco;
}
.letraCalesita{
    color: $blanco;
    background-color: $colorFondoOscuro;
    padding:0rem 0rem; 
    margin: 0rem 0rem; 
}
.boxFormConsulta__btn--color{
    margin: 0.5rem 0.1rem;
    background-color: $colorFondoOscuro;
    color: $blanco;
    border-color: $colorFondoOscuro
}