$marginCero: 0px 0px 0px 0px;
$paddingCero: 0px 0px 0px 0px;
$blanco: #ffffff;
$colorFondo: rgb(119, 119, 119); /* color para el background */
$colorFondoOscuro: rgb(73, 73, 73);
$colorBtn: rgb(100, 100, 100); /* color para los botones y elementos resaltados */
$colorLetra: rgb(255, 255, 255);
$negro: #000000; 
$fuente: 'Montserrat', sans-serif;
$cantContenedores: 4; /* cantidad de bloques del grid */
$cantItemsContacto: 4;
$cantItemsServicos: 6;
$cantItemsGaleria: 6;
$fila: 2;
@for $i from 0 through 3{
    .padding#{$i} {padding: 1em * $i 1em *$i}
}
